@import '../styles/main.less';

header {
  width: 80%;
  text-align: center;
  margin: 100px auto 0;
  background-color: @white;
}
.border-radius {
  border-radius: 50%;
}
header * {
  margin-top: -75px;
}

header section {
  margin-top: 10px;
}

.resume-title h1 {
  margin: @base-margin;
}
